# System files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
vendor/

# Editors
.vscode/
.idea/

# Environment / Secrets
Backend/code_Mnémosyne/config.php
config.php
docker-compose.yml

# Logs
*.log

# Excluded Data
uploads/*
!uploads/SAE_json/

# Fichiers personnels de contexte (NE JAMAIS COMMIT)
PDF/
*.md
!README.md
*.txt
extract_pdf.py
