# System files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
vendor/

# Editors
.vscode/
.idea/

# Environment / Secrets
Backend/code_Mnémosyne/config.php

# Logs
*.log

# Excluded Data
PDF/
# Inclure les données JSON mais pas les autres uploads
uploads/*
!uploads/SAE_json/
